.alert.alert-success 
  strong perhatian
  | Di kompetisi ini, 
  strong Kompetisi Indonesia 
  | hanya berlaku sebagai media publikasi. Jika ada pertanyaan lebih lanjut mengenai kompetisi ini silahkan sampaikan langsung ke kontak yang tersedia tab kontak.