.col-md-2
    .dashboard-sidebar
        ul
            li.active 
                a(href="#") Pasang Kompetisi
            li 
                a(href="#") Kompetisi Terpasang 
                    span.label.label-blue 23
            hr 

            li 
                strong Manajemen Kompetisi
            li
                a(href="#") Semua Kompetisi
                    span.label.label-blue 245
            li
                a(href="#") Request Pasang Cepat
                    span.label.label-blue 245
                    span.label.label-red 56
            li
                a(href="#") Request Pasang Komplit
                    span.label.label-blue 245
                    span.label.label-red 12


            hr 

            li
                strong Manajemen Berita        
            li
                a(href="#") Semua Berita
                    span.label.label-blue 24