.col-md-12.footer
    footer
        .container
            .row
                .col-md-3
                    p 
                        strong.title Tentang Kami
                        ul.vertical-menu
                            li 
                                a(href="#") Apa itu KompetisiIndonesia
                            li
                                a(href="#") Siapa kami
                            li
                                a(href="#") Karir
                            li
                                a(href="#") Berita terbaru
                .col-md-3
                    p 
                        strong.title Navigasi
                        ul.vertical-menu
                            li
                                a(href="#") Pasang kompetisi
                            li 
                                a(href="#") Jelajah kompetisi
                            li 
                                a(href="#") Berita
                            li 
                                a(href="#") Kategori
                            li 
                                a(href="#") Login / register
            hr(style="border-top:1px solid #656565")
            .row.vertical-center
                .col-md-6.footer-copyright
                    img.footer-copyright-logo(src="./img/icon-128x128.png" title="kompetisi indonesia icon")
                    small.footer-copyright-text
                        | &copy; 2013 - now by Id More
                        br
                        | DIY, Indonesia
                .col-md-6
                    //- social media
                    ul.horizontal-menu.pull-right.social-media
                        li
                            a(href="https://facebook.com/kompetisiindo" target="_blank")
                                i.fa.fa-facebook
                        li
                            a(href="https://twitter.com/kompetisiindo" target="_blank")
                                i.fa.fa-twitter
                        li
                            a(href="https://instagram.com/kompetisiindo" target="_blank")
                                i.fa.fa-instagram
                        li
                            a(href="/feed" target="_blank")
                                i.fa.fa-rss
.col-md-12.poweredby 
    .container
            .row
                .col-md-12
                    | Powered by 
                    a(href="https://byidmore" target="_blank")
                        img(src="./img/icon-byidmore.png" title="idmore icon")

