nav
    .nav-header
        a#btn-menu(href="javascript:;") 
            span.fa.fa-bars
        .nav-left
            a#btn-show-nav.only-mobile(href="javascript:;")
                i.fa.fa-bars
            ul.top-menu#top-menu
                a#btn-hide-nav.btn-close-nav.only-mobile(style="float:right")
                    i.fa.fa-close
                li
                    a(href="explore.html") 
                        | jelajah
                li 
                    a(href="add.html") Pasang
                li 
                    a(href="news.html") Berita   
                li.only-mobile    
                    a(href="news.html") Login      
        .logo
            a(href="home.html")
                img(src="./img/icon-128x128.png")
        .nav-right
            ul.top-menu#top-menu
                li
                    a#btn-search(href="javascript:;" title="click untuk melakukan pencarian") 
                        span.fa.fa-search
                li
                    .dropdown
                        a.avatar(href="javascript:;")
                            img.dropdown-button(src="img/avatar-default.jpg" data-target="avatar-menu")
                        .dropdown-items#avatar-menu
                            ul
                                li
                                    a(href="#") Profil saya
                                li
                                    a(href="#") Setelan
                                li
                                    a(href="#") Keluar
                
    .nav-search
        label(for="search") Pencarian 
        input(type="text" placeholder="tekan enter untuk submit")
        a#btn-closesearch(href="javascript:;" title="tutup pencarian") 
            span.fa.fa-close