nav
    .nav-header
        a#btn-menu(href="javascript:;") 
            span.fa.fa-bars
        .nav-left
            a#btn-show-nav.only-mobile(href="javascript:;")
                img(src="./img/icon-128x128.png" style="width:40px")
            ul.top-menu#top-menu
                a#btn-hide-nav.btn-close-nav.only-mobile(style="float:right")
                    i.fa.fa-close
                li
                    a(href="explore.html") 
                        | jelajah
                li 
                    a(href="add.html") Pasang
                li 
                    a(href="news.html") Berita   
                li.only-mobile    
                    a(href="news.html") Login      
        .logo.hide-mobile
            a(href="home.html")
                img(src="./img/icon-128x128.png")
        .nav-right
            ul.top-menu#top-menu
                li
                    a#btn-search(href="javascript:;" title="click untuk melakukan pencarian") 
                        span.fa.fa-search
                
                li
                    .dropdown
                        a(href="javascript:;" title="lihat pemberitahuan") 
                            span.dropdown-button.fa.fa-bell-o(data-target="nav-notif") &nbsp;
                            small.dropdown-button.label.label-gray.label-circle(data-target="nav-notif") 30
                        .dropdown-items.nav-notif#nav-notif
                            ul
                                li
                                    .nav-item
                                        | Ada kompetisi baru&nbsp; 
                                        a(href="#") "Kompetisi blog ayo merangkai kata" 
                                        br 
                                        small 
                                            | oleh&nbsp;
                                            a(href="#") Ahmad
                                            | &nbsp;
                                            | 2 hari lalu
                                li
                                    .nav-item
                                        | Ada pengumuman baru di&nbsp; 
                                        a(href="#") "Kompetisi menulis dalam rangka HUT Ulang Tahun Sleman" 
                                        br 
                                        small 
                                            | oleh&nbsp;
                                            a(href="#") Ahmad
                                            | &nbsp;
                                            | 2 hari lalu
                                li
                                    .nav-item
                                        | Ada pengumuman baru di&nbsp; 
                                        a(href="#") "Kompetisi menulis dalam rangka HUT Ulang Tahun Sleman" 
                                        br 
                                        small 
                                            | oleh&nbsp;
                                            a(href="#") Ahmad
                                            | &nbsp;
                                            | 2 hari lalu
                                li
                                    .nav-item
                                        | Ada pengumuman baru di&nbsp; 
                                        a(href="#") "Kompetisi menulis dalam rangka HUT Ulang Tahun Sleman" 
                                        br 
                                        small 
                                            | oleh&nbsp;
                                            a(href="#") Ahmad
                                            | &nbsp;
                                            | 2 hari lalu
                                li
                                    .nav-item
                                        | Ada pengumuman baru di&nbsp; 
                                        a(href="#") "Kompetisi menulis dalam rangka HUT Ulang Tahun Sleman" 
                                        br 
                                        small 
                                            | oleh&nbsp;
                                            a(href="#") Ahmad
                                            | &nbsp;
                                            | 2 hari lalu
                                li.align-center(style="width:100%") 
                                    a.btn.btn-white(href="notifications.html") Selengkapnya

                li
                    .dropdown
                        a.avatar(href="javascript:;")
                            img.dropdown-button(src="img/avatar-default.jpg" data-target="avatar-menu")
                        .dropdown-items#avatar-menu
                            ul
                                li
                                    a(href="#") Profil saya
                                li
                                    a(href="#") Setelan
                                li
                                    a(href="#") Keluar
                
    .nav-search
        label(for="search") Pencarian 
        input(type="text" placeholder="tekan enter untuk submit")
        a#btn-closesearch(href="javascript:;" title="tutup pencarian") 
            span.fa.fa-close