.col-md-12.filter-jelajah 
    .container
        .row.no-margin
            h1 
                | Jelajah 
                a(href="javascript:;" onclick="modal('open', 'select-main-kat')") Semua kategori
                    i.fa.fa-angle-down
                | &nbsp;dan&nbsp; 
                a(href="javascript:;" onclick="modal('open', 'select-sub-kat')") Semua sub kategori
                    i.fa.fa-angle-down
        .row.no-margin
            h1 
                | Sort by 
                a(href="#") Terbaru
                    i.fa.fa-angle-down
        .row.no-margin
            p.text-muted Gunakan filter ini untuk menemukan kompetisi yang sesuai dengan minat kamu