.col-md-12.filter-jelajah 
    .container
        .row.no-margin
            h1 
                | Berita                 
            p.text-muted Berita seputar kompetisi di Indonesia dan Internasional