.row
    .col-md-4
        .competition-loader
            .animated-background
                .background-masker.background-masker-1
                .background-masker.background-masker-1-1
                .background-masker.background-masker-1-2
                .background-masker.background-masker-2
                .background-masker.background-masker-2-1
                .background-masker.background-masker-2-2
                .background-masker.background-masker-5
                .background-masker.background-masker-5-1
                .background-masker.background-masker-5-2
                .background-masker.background-masker-6
                .background-masker.background-masker-6-1
                .background-masker.background-masker-6-2
                .background-masker.background-masker-6-3
                .background-masker.background-masker-6-4
                .background-masker.background-masker-6-5
                .background-masker.background-masker-7
    .col-md-4.hide-mobile
        .competition-loader
            .animated-background
                .background-masker.background-masker-1
                .background-masker.background-masker-1-1
                .background-masker.background-masker-1-2
                .background-masker.background-masker-2
                .background-masker.background-masker-2-1
                .background-masker.background-masker-2-2
                .background-masker.background-masker-5
                .background-masker.background-masker-5-1
                .background-masker.background-masker-5-2
                .background-masker.background-masker-6
                .background-masker.background-masker-6-1
                .background-masker.background-masker-6-2
                .background-masker.background-masker-6-3
                .background-masker.background-masker-6-4
                .background-masker.background-masker-6-5
                .background-masker.background-masker-7
    .col-md-4.hide-mobile
        .competition-loader
            .animated-background
                .background-masker.background-masker-1
                .background-masker.background-masker-1-1
                .background-masker.background-masker-1-2
                .background-masker.background-masker-2
                .background-masker.background-masker-2-1
                .background-masker.background-masker-2-2
                .background-masker.background-masker-5
                .background-masker.background-masker-5-1
                .background-masker.background-masker-5-2
                .background-masker.background-masker-6
                .background-masker.background-masker-6-1
                .background-masker.background-masker-6-2
                .background-masker.background-masker-6-3
                .background-masker.background-masker-6-4
                .background-masker.background-masker-6-5
                .background-masker.background-masker-7