.row
    .col-md-4
        .news-loader
            .animated-background
                .background-masker.background-masker-1
                .background-masker.background-masker-1-1
                .background-masker.background-masker-1-2
                .background-masker.background-masker-2
                .background-masker.background-masker-2-1
                .background-masker.background-masker-2-2
                .background-masker.background-masker-3
                .background-masker.background-masker-3-1
                .background-masker.background-masker-3-2