@mixin mobile-nav-header()
    .nav-header 
        .nav-left
            ul.top-menu
                z-index: 10
                position: fixed
                background-color: #fff
                height: 100vh
                top: 0;
                left: -50%;
                padding: 10px 
                width: inherit
                li 
                    display: block
                    padding: 0.5em 0
                    border-bottom: 1px solid lightgray