extends layouts/error

block content
    .error-box
        .error__code
            h1 404
        .error__message Halaman tidak ditemukan
        .error__navigation
            a(href='') Kembali ke home
            a(href='') Jelajah
            a(href='') Pasang
            a(href='') Berita