extends layouts/default 

block title 
    title Berkarir bersama KI - Kompetisi Indonesia 

block content
    .col-md-12.careers-header(style='text-align: center;')
        .container
            .row.no-margin
            h1 Mari Berkarir Bersama KI
            h3
                | Kompetisi.id adalah salah satu produk dari ByIdMore yang sama-sama bertujuan untuk melakukan lebih untuk Indonesia. Mari bergabung bersama kami untuk terus meramaikan semangat kompetisi di Indonesia.
                br
                | Kami sedang mencari jiwa-jiwa bertalenta untuk menjadi bagian dari KI yang memiliki bagian sebagai berikut.
            a.btn.btn-white.btn-bg(href="#available-careers" style="font-weight:bold") Telusuri Lowongan Tersedia 
                i.fa.fa-arrow-circle-right 

    .col-md-8.col-md-push-2.m-t-b-20.align-center.careers(style='line-height: 2;')
            
        section#available-careers.col-md-12
            h1 Bagian Yang Tersedia
            .col-md-12
                .col-md-12
                    h2 Software Engineer
                .col-md-6.carrers-item
                    strong Web Developers
                    ul.align-left
                        li NodeJS + Express (isomorphic app)
                        li ReactJS (diutamakan), VueJS (libs based on components)
                        li
                            | Terbiasa menggunakan dependensi pendukung dari
                            i NPM
                            | , atau
                            i tool-tool
                            | untuk
                            i development
                            | seperti
                            i Grunt, Prepack, Webpack, dll
                        li
                            | Kami menggunakan
                            i git
                            | sebagai
                            i version control system
                    button.btn.btn-gray.btn-sm(disabled="true") Pendaftaran Belum Dibuka
                .col-md-6.carrers-item
                    strong API Developers
                    ul.align-left
                        li Python + Flasks (api core)
                        li SQL and NOSQL databases
                        li
                            | Kami menggunakan
                            i Firebase, Mailgun, Dlvrt, dsb
                            | sebagai 
                            i 3th party 
                            | yang diakses beberapa
                            i micro services 
                            | KI
                        li
                            | Kami menggunakan
                            i git
                            | sebagai
                            i version control system
                    button.btn.btn-gray.btn-sm(disabled="true") Pendaftaran Belum Dibuka
        
        .col-md-12.m-t-b-10
            hr
        
        section.col-md-12
            .col-md-12
                h2 Technical Support
            .col-md-6.carrers-item
                strong DevOops
                ul.align-left
                    li Linux based server
                    li Docker 
                    li 
                        i 3th party 
                        | seperti  
                        i Gitlab Enterprise, Firebase, Heroku, dsb
                    li Remote, Monitoring, Standby      
                button.btn.btn-gray.btn-sm(disabled="true") Pendaftaran Belum Dibuka          
        
        .col-md-12.m-t-b-10
            hr
        
        .col-md-12
            .col-md-12
            h2 Software Quality Assurances
            .col-md-6.carrers-item
                .disabled
                strong Web QA Engineer

        .col-md-12.m-t-b-10
            hr
        
        .col-md-12
            .col-md-12
            h2 Non Technical Support
            .col-md-6.carrers-item
                .disabled
                strong Marketing Staff
            .col-md-6.carrers-item
                .disabled
                strong Production Executive

        .col-md-12.m-t-b-10
            hr

        section.col-md-12
            .co-md-12
                h1 Selengkapnya
                h3(style='font-weight: normal;') Ada pertanyaan lebih lanjut, jangan sungkan-sungkan sampaikan kepada kami.
                br
                a.btn.btn-green(href="https://goo.gl/forms/kMGGZQXJCjoyKThj1" target="_blank") 
                    strong Kontak Kami
                br
                p.text-muted atau temui kami di
                ul.horizontal-menu
                    li
                        a.btn.btn-socmed.btn-gray.btn-lg.fa.fa-facebook(href='https://facebook.com/kompetisiindo', target='_blank')
                    li
                        a.btn.btn-socmed.btn-gray.btn-lg.fa.fa-twitter(href='https://twitter.com/kompetisiindo', target='_blank')
                    li
                        a.btn.btn-socmed.btn-gray.btn-lg.fa.fa-instagram(href='https://instagram.com/kompetisiindo', target='_blank')
