extends layouts/default 

block title
    title Peraturan Kompetisi

block content
    .fullheight
      .container.error
        .col-md-4.col-md-push-4.col-sm-12
          h1 404
          h2 Kompetisi Tidak Ditemukan
          p Jika anda tersesat, silahkan masuk ke 
            a(href="") Jelajah Kompetisi 
            | untuk menemukan kompetisi lainnya.