extends layouts/default 

block title
    title Ikuti Kompetisi

block content
    
    .col-md-12.bg-gray-soft
        .container
            .row.redirect
                .redirect-content.bg-white.align-center
                    h1 Verifikasi Email Berhasil
                    p Kami telah selesai memverifikasi email kamu, silahkan lanjutkan perjalanan kamu di KompetisiIndonesia.
