extends layouts/default 

block title
    title jelajah kompetisi

block content

    //- filtering
    include partials/filters/filter-jelajah

    //- competitions card
    .col-md-12
        .container
            .row.m-10
            .row.no-margin
                p
                    | menampilkan&nbsp;
                    strong  34&nbsp;
                    | dari&nbsp;
                    strong 456&nbsp;
                    | kompetisi 
                    br
            .row.m-10
            .row
                - for(var i = 0; i < 6; i++) {
                include ./partials/cards/competition
                - }
            .row.align-center 
                a.btn.btn-white Tampilkan berikutnya
            
            .row.m-10
            include partials/loaders/competitionloader
            .row.m-10

    .modal#select-main-kat
        .container
            h2.modal-title Pilih Kategori dibawah ini
            a.btn.btn-white.btn-close-modal.btn-sm.fa.fa-close
            hr  
            ul.vertical-menu.list-categories
                li 
                    a.text-muted Menulis
                li
                    a.text-muted Blog
                li
                    a.text-muted Desain

    .modal#select-sub-kat
        .container
            h2.modal-title Pilih sub kategori dibawah ini
            a.btn.btn-white.btn-close-modal.btn-sm.fa.fa-close
            hr  
            ul.vertical-menu.list-categories
                li 
                    a.text-muted Semua desain
                li
                    a.text-muted Desain logo
                li
                    a.text-muted Desain poster
                li
                    a.text-muted Desain maskot
    
