extends layouts/default 

block title 
    title kompetisi indonesia

block content
    //- stats
    .col-md-12.home-count
        .container
            .col-sm-3.col-xs-6.home-count-item 
                .home-count-text-large 24 Januari 2017
                .home-count-text-small.text-gray Terus berkarya.
            .col-sm-3.col-xs-6.home-count-item 
                .home-count-text-large 456
                .home-count-text-small.text-gray Kompetisi Aktif
            .col-sm-3.col-xs-6.home-count-item 
                .home-count-text-large 6
                .home-count-text-small.text-gray Deadline Bulan ini
            .col-sm-3.col-xs-6.home-count-item 
                .home-count-text-large Rp500jt
                .home-count-text-small.text-gray Nilai Total Hadiah
    //- end of stats

    //- slider
    .col-md-12.home-slider
        .container
            .row
                .col-sm-6.home-slider-left 
                    h2 Kontes Blog 2017 ri Shopfest 
                    h3 
                        | Penyelenggara Shopfest
                        br 
                        | Total Hadiah Senilai Rp 45 Juta
                        br
                        | Deadline 30 Hari
                    p(style="margin-bottom:1.5em") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas euismod nibh et consectetur fringilla. Vestibulum ornare enim in erat maximus, nec sodales velit imperdiet. Morbi eu ultricies purus... 
                    a.btn.btn-bordergray(href="javascript:;") SYARAT KETENTUAN

                .col-sm-6.home-slider-right 
                    .home-slider-poster(style="background-image:url('img/poster/poster-1.jpg')")
                .col-sm-12.home-slider-navigation
                    .col-sm-6.col-md-3.home-slider-item.active
                        a(href="#")
                            | Ini adalah judul kompetisi
                            br
                            small 
                                | Blog - Blog Writing 
                                br
                                strong 
                                    | Rp 34 Juta
                    .col-sm-6.col-md-3.home-slider-item
                        a(href="#")
                            | Ini adalah judul kompetisi
                            br
                            small 
                                | Blog - Blog Writing 
                                br
                                strong 
                                    | Rp 34 Juta
                    .col-sm-6.col-md-3.home-slider-item
                        a(href="#")
                            | Ini adalah judul kompetisi
                            br
                            small 
                                | Blog - Blog Writing 
                                br
                                strong 
                                    | Rp 34 Juta
                    .col-sm-6.col-md-3.home-slider-item
                        a(href="#")
                            | Ini adalah judul kompetisi
                            br
                            small 
                                | Blog - Blog Writing 
                                br
                                strong 
                                    | Rp 34 Jutas
                        
                        

            .row 
                .col-sm-12

    //- end of slider

    //- categories
    .col-md-12(style="border-top:1px solid gray;border-bottom:1px solid gray;padding: 3em 0")
        .container 
            .col.md-12 
                .header-content 
                    h2 Kategori 
                    h3 Berikut beberapa kateogri kompetisi yang bisa diikuti disini.
            .col-md-12 
                .row
                    br
                    a(href="#") Blog (340) &nbsp;
                    a(href="#") Fotografi (340) &nbsp;
                    a(href="#") Software Development (340) &nbsp;
                    br
                    br
                    a.btn.btn-bordergray(href="#") LIHAT SEMUA KATEGORI -> 
    //- end of categories

    //- newest competitions 
    .col-md-12.m-t-b-20
        .container
            .row.subtitle-more
                h2.menu-title Kompetisi Terbaru
                a.btn.btn-white.btn-sm
                    | Jelajah kompetisi
            .row
                - for(var i = 0; i < 6; i++) {
                include ./partials/cards/competition
                - }

    .col-md-12
        .col-md-8.col-md-push-2.col-lg-6.col-lg-push-3
            .row
                .media-partner
                    h2.big-text Media Partner KI
                    span KI juga ikut berperang sebagai media partner berbagai kompetisi di Indonesia.   
                        
            .row 
                - for(var i = 0; i < 5; i++) {
                include ./partials/cards/competition-mediapartner
                - }

    .col-md-12
        .col-md-8.col-md-push-2.col-lg-6.col-lg-push-3
            a.btn.btn-black.btn-fullwidth(style="margin-bottom:40px" href="#") 
                strong selengkapnya