html    
    head
        title index on KI Design v 4.2
        style(type="text/css").
            body {
                background-color: #de6363
            }
            h2{
                color: #FFF;
            }
            p > a{
                color: #FFF;
                font-size: 20px;
                text-decoration: none;
                text-transform: capitalize;
            }
            p > a:hover{
                color: #c1b7b7;
                font-size: 30px;
            }
            #container{
                width:300px;
                margin: 0 auto;
                text-align:center;
            }

    body
        div#container 
            h2 All Pages
            p 
                a(href="home.html") homepage
            p
                a(href="sample-alert.html") sample alert
            p 
                a(href="add.html") add competition
            p 
                a(href="404.html") 404
            p 
                a(href="user-profile.html") user profile
            p 
                a(href="register.html") register
            p 
                a(href="login.html") login input username
            p 
                a(href="login-password.html") login input password
            p 
                a(href="redirect.html") redirect
            p 
                a(href="careers.html") careers
            p 
                a(href="categories.html") categories
            br 
            h2 After Login 
            p 
                a(href="dashboard.html") dashboard
            p 
                a(href="dashboard-pasang-komplit-1.html") dashboard pasang komplit (deskripsi kompetisi)
            p 
                a(href="dashboard-pasang-komplit-2.html") dashboard pasang komplit (hadiah kompetisi)
            p 
                a(href="dashboard-pasang-komplit-3.html") dashboard pasang komplit (peraturan kompetisi)
            p 
                a(href="dashboard-kompetisi-terpasang.html") dashboard kompetisi terpasang
            br
            h2 Competition Pages
            p 
                a(href="explore.html") explore competition
            p 
                a(href="competition-iframe.html") iframe competition
            p 
                a(href="add.html") add competition
            p 
                a(href="add-fast.html") add fast competition
            p 
                a(href="competition-regulation.html") regulation
            p 
                a(href="competition-discussions.html") discussions
            p 
                a(href="competition-share.html") share
            p 
                a(href="competition-announcements.html") announcements
            p 
                a(href="competition-contacts.html") contacts
            p 
                a(href="competition-share.html") share
            br 
            h2 News Pages
            p 
                a(href="news.html") list
            p 
                a(href="news-detail.html") news detail