extends layouts/login

block title 
  title Masuk ke KI

block content
    .login-box
        .login-box__title
          h1(style="text-align:center;line-height:1") Masuk ke KI  
            br
            small(style="font-weight:normal") Mari ramaikan semangat kompetisi di Indonesia.
        .login-box__content
            .login-box__content__avatar
              P Halo 
                strong yussan
              img(src="img/default-avatar.jpg")

            form.form-ki.form-ki__white(action="#" method="post")
                .form-child
                    label(for='input-title') Pasword
                    input(type='password' id='input-password' autofocus)
                p 
                  a(href="") Lupa password
                .form-child
                    button.btn.btn-borderwhite(type='submit' style='width:100%;background-color:#FFF;color:#292929') 
                        strong Login   
            p Belum punya akun, silahkan 
              a(href="#") Regiser Disini       
            small  