extends layouts/default 

block title 
    title Notifikasi - Kompetisi Indonesia 

block content
    .col-md-12.filter-jelajah
        .container
            .row.no-margin
            h1 Notifikasi
    .col-md-12
        .m-30
    .col-md-12
        .container
            .row
                .col-sm-12.col-md-8.col-md-push-2
                    ul.nav-notif(style="margin-bottom:3em;padding:0") 
                        li
                            .nav-item
                                | Ada kompetisi baru&nbsp; 
                                a(href="#") "Kompetisi blog ayo merangkai kata" 
                                br 
                                small 
                                    | oleh&nbsp;
                                    a(href="#") Ahmad
                                    | &nbsp;
                                    | 2 hari lalu 

                        li
                            .nav-item
                                | Ada kompetisi baru&nbsp; 
                                a(href="#") "Kompetisi blog ayo merangkai kata" 
                                br 
                                small 
                                    | oleh&nbsp;
                                    a(href="#") Ahmad
                                    | &nbsp;
                                    | 2 hari lalu 

                        li
                            .nav-item
                                | Ada kompetisi baru&nbsp; 
                                a(href="#") "Kompetisi blog ayo merangkai kata" 
                                br 
                                small 
                                    | oleh&nbsp;
                                    a(href="#") Ahmad
                                    | &nbsp;
                                    | 2 hari lalu 

                        li
                            .nav-item
                                | Ada kompetisi baru&nbsp; 
                                a(href="#") "Kompetisi blog ayo merangkai kata" 
                                br 
                                small 
                                    | oleh&nbsp;
                                    a(href="#") Ahmad
                                    | &nbsp;
                                    | 2 hari lalu    

                    .row.align-center(style="margin-bottom:3em")
                        a.btn.btn-white(href="#") Selengkapnya