extends layouts/default 

block title
    title Ikuti Kompetisi

block content
    
    .col-md-12.bg-gray-soft
        .container
            .row.redirect
                .redirect-content.bg-white.align-center
                    p kamu akan diredirect ke 
                        span.text-muted 
                            i http://link.com/tujuan-redirect
                        br
                        | jika halaman tidak berubah, silahkan&nbsp;
                    a(href="#") klik disini
