.col-md-12
    .card-mediapartner
        .thumbnails
            img(src="./img/poster/poster-3.jpg")
        .details
            span.categories
                a.muted(href="#") blog
                | ,&nbsp;
                a.muted(href="#") blog wiring
            a(href="#")
                h3 Judul Kompetisi Yang Lumayan Agak Panjang
            small oleh&nbsp;
                a(href="#") yussan
            p lorem ipsum semi dollor hokya manjada wa jada, setelah diadakan maka anda bebas untuk memilih apakah siap untuk mengikuti kompetisi ini ataupun tidak. Bagaimana ya silahkan ikuti agar anda menang.