.col-md-3
    a(href="#")
        .card-competition
            .card-competition--poster
                img(src="./img/poster/poster-2.jpg")
            .card-competition--inside
                .categories
                    a.muted(href="#") blog
                    | ,&nbsp;
                    a.muted(href="#") blog wiring

                h3 Judul kompetisi yang lumayan agak panjang nih
                span oleh &nbsp;
                a.muted(href="#") risma
                
                progress(value="22" max="100")

                .meta
                    p 
                        strong Rp34juta
                        span.text-muted &nbsp;total hadiah
                    p 
                        strong 47 
                        span.text-muted &nbsp;hari lagi  