.col-md-4
    a(href="#")
        .card-competition.no-border
            .card-competition--poster
                img(src="./img/poster/poster-2.jpg")
            .card-competition--inside
                h3 Imagine cup telah dibuka mari segera mendaftarkan tim kamu
                small.text-muted diposting 4 hari lalu
                br
                a.muted(href="#")
                    img.avatar(src="img/avatar-1.jpg")