@import constants

.filter-jelajah 
    padding: 50px
    background: $color-gray-verysoft
    h1, h2
        margin: 5px
        font-size: 3em
        font-weight: normal
    a 
        text-decoration: underline