@import constants

// count
.home-count 
    padding: 2.5em 0
    .home-count-item
        line-height: 1.1
        text-align: left
        border-left: 1.5px solid $color-gray-soft
        &:last-child
        .home-count-text-large
            font-size: 1.5em 
        .home-count-text-small 
            font-size: 1.3em
            color: $color-gray-soft
// end of count

// slider
.home-slider
    padding: 3em 0
    font-size: 1.2em
    color: $color-gray-soft
    .home-slider-left 
        line-height: 1.2 
        h2,h3 
            font-weight: bold
            margin: 0
            color: $color-gray-main
        h2 
            line-height: 1
            font-size: 4em
        h3
            font-size: 1.2em
            margin: .5em 0
    .home-slider-poster
        height: 450px
        background-size: cover
    .home-slider-navigation
        margin-top: 2em 
    .home-slider-item 
        border-top: 2px solid $color-gray-soft
        padding: 1em .5em
        a 
            text-decoration: none 
        &.active
            border-top: 1px solid $color-white-main
        &:hover     
            cursor: pointer
// end of slider

.home-categories-list
    ul 
        list-style: none
        padding-left: 0
        li 
            border-left: 1px solid $color-gray-medium
            padding: 5px 0 5px 15px
            a:hover
                font-weight: bold
        li.active 
            border-left: 4px solid $color-gray-medium
            a 
                font-weight: bold
        li > a
            text-decoration: none
            color: $color-gray-main
            cursor: pointer
.main-competition--left, .main-competition--right
    margin-bottom: 40px
.main-competition--left
    max-height: 35em
    overflow-y: hidden
    img 
        width: 100%
.main-competition--right
    .title 
        text-transform: capitalize
        margin: 0
    progress
        width: 100%
        margin: 10px 0
        height: 10px
        &[value]
            -webkit-appearance: none;
            appearance: none;
            &::-webkit-progress-value
                background-color: $color-green-dark
            &::-webkit-progress-bar
                background-color: #eee
                border-radius: 2px
    .meta 
        .count 
            font-size: 17px
        .text-muted
            font-size: 13px
        .text-1,.text-2,.text-3
            display: inline-block 
            margin-right: 20px

.media-partner
    margin: 30px 0 60px
    h2
        margin: 0
    p 
        font-size: 16px
        width: 400px